{%extends 'panel_control/base.html'%}

{%load static%}

{%block content%}
<div class="col-6 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <center>
                <h2>
                    <b>¡Registrado con exito!</b>
                </h2>
                <br>
                <h4>¿Desea generar una factura?</h4>
            </center>
            <center>
                <a type="submit" class="btn btn-success" href="/cobros/ingresar_datos_factura/{{id_cobro}}">
                    <i class="bi bi-check2-square"></i>
                    Si
                </a>
                <a type="submit" class="btn btn-danger" href="/cobros/listar_cobros">
                    <i class="bi bi-x-circle"></i>
                    No
                </a>
            </center>
        </div>
    </div>
</div>

{%endblock%}