{%extends 'panel_control/base.html'%}

{%block content%}
{%if perms.gestion_cobros.add_cobrocontado%}
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <br>
            <center>  
                <h2 style="font-family: Bodoni;">
                    <b>
                        ¡Caja cerrada!
                    </b>
                </h2> 
                <font size="7" class="bi bi-safe2"></font>
            </center>
                <div class="container mt-3 text-center">
                    <small> <b> Podrá volver a abrirla mañana, </small>
                </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" style="margin: 10px;" onclick="history.back()">
                        <i class="bi bi-check2-square"></i>
                        OK
                    </button>

                    <a class="btn btn-success" style="margin: 10px;" href="/cobros/mostar_caja_previa">
                        <i class="bi bi-card-checklist"></i>
                        Ver informe
                    </a>
                </div>
            </div>
        </div>
    </div>
{%endif%}
{%endblock%}