{%extends 'panel_control/base.html'%}

{%block content%}
<!-- {%if perms.gestion_administrativo.add_cargo%} -->
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <br>
            <center>  
                <h2 style="font-family: Bodoni;">
                    <b>
                        ¡Caja abierta!
                    </b>
                </h2> 
                <font size="7" class="bi bi-safe2"></font>
            </center>
                <!-- <div class="container mt-3 text-center">
                    <small> <b> Aun no ha realizado la apertura de caja, <br> ¿Desea realizarla?  </small>
                </div> -->
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary" style="margin: 10px;" href="/cobros/mostrar_tratamientos_cobrar/{{id_paciente}}">
                        <i class="bi bi-check2-square"></i>
                        OK
                    </a>

                    <!-- <button class="btn btn-primary" style="margin: 10px;" onclick="history.back()">
                        <i class="bi bi-check2-square"></i>
                        OK
                    </button> -->
                </div>
            </div>
        </div>
    </div>
<!-- {%endif%} -->
{%endblock%}