<!DOCTYPE html>
<html lang="es">

  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo de barra-->
    <title>Reportes</title>
    <link rel="icon" href="favicon.ico" size="32x32" >
    {% load static %}

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    
    <head>
        <center>
            <a href="/panel_control/inicio/">  
            <img src="{% static 'img/favicon.png' %}" width="95px" alt="logo">
           </a>
        <center>
    </head>
    {% comment %} <center> 
      
            <FONT COLOR="black" style="font-size: 3.5rem; font-family:Monotype corsiva;" >S m i l e S o f t</FONT> 
           
    </center>  {% endcomment %}
    <body>
        {%block content%}

        {%if perms.gestion_inventario_insumos.add_insumo%}

        <div class="container">
            <center> 
                <h1 style="font-family: Lucida Calligraphy;"> 
                    <b class="bi bi-list-check"> Reporte de Citas</b> 
                </h1>
            </center>
            {%csrf_token%}
            <hr>
            <p style= "font-size:20px">  Total de Cantidades  </p>
            <spam> Periodo: Octubre - Diciembre</spam><br>
            <br>
{% comment %} #Trae los totales pero no vamos a usar{% endcomment %}
            {% comment %} {{gf1 | safe}}  {% endcomment %}
      
           
            Realizado: {{total_realizado| safe}}
            Agendado: {{total_agendado | safe}} 
           
            {% comment %} TABLA DE DATOS
            {{tabla |safe }} {% endcomment %}
    
            <hr>
            <h4> Grafico de Citas </h4>
            <center style="width: 450px">
                <canvas id="myChart" ></canvas>
                <script src="chart.js"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {
                    type: 'bar', 
                    data:{
                    datasets: [{
                                data: {{draw}},
                    backgroundColor: ['#42a5f5','red',],
                    label: 'Cantidades'}],
                    labels: ['Realizado','Agendado',]},
                    options: {responsive: true}
                    });
                </script>
            </center> 
           <hr>
{{grupo}}
            <div class="card-footer">
                <center>
                    <a href="{{ list_url }}" class="btn btn-success btn-flat" >
                        <i class="fas fa-sync"></i> Actualizar
                    </a>
                </center>
                &nbsp;
                {% comment %} <a href="/reportes/pdf_reporte_cita" class="btn btn-success btn-flat" target="_blank">
                    <i class="fas fa-sync"></i> Imprimir en pdf
                </a> {% endcomment %}

            </div>


        </div>

        {%endif%}

        {%endblock%}
    </body>
</html>