<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reporte de Ingresos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {%load static%}
        {% block head_list %}
            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
            <script src="{% static 'lib/daterangepicker/spanish.js' %}"></script>

            {% comment %} <script src="{% static 'js/report.js'%}"></script> {% endcomment %}
          

            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <!--es para los iconos-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <header>
        <br>
        <!--Inicio de SESION PANEL-->
        <nav class="navbar navbar-expand-sm bg-transparent navbar-transparent justify-content-end logo ">
        <i class="bi bi-person-check-fill "> 
            <a class="navbar-brand nombre" > 
            Bienvenido  <FONT COLOR="blue">{{user.usuario}}</FONT>
            </a>
        </i>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                   
                    </li>
                    
                    <li class="nav-item active">
                        <a class="cerrar" href="/cerrar_sesion" data-toggle="tooltip" title="Cerrar Sesion"> 
                        <img src="{% static 'img/apagar.png' %}" width="30px" alt="auto">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--======================================BARRA NAVBAR=======================================================-->

        <center> 
            <a class="nav-link" class="c-1 d-flex align-items-center" aria-current="page" href=" /panel_control/inicio/"  data-toggle="tooltip" title="Página principal">
                <FONT COLOR="black" style="font-size: 3.5rem; font-family:Monotype corsiva;" >S m i l e S o f t</FONT>  
                            <img src="{% static 'img/favicon.png' %}" width="90px" alt="logo">
                            </a>
        </center> 
                          
                       

       
    </header>
  
    
        {% block content %}
        <div class="container">
            <center>
            {% comment %} <h2 class="card-title">
                <i class="fas fa-chart-bar"></i>
                {{ title }}
            </h2> {% endcomment %}
            <br>
            <h2  style="font-family: Lucida Calligraphy; " >
                <b>{{ title }}</b>
            </h2>
            </center>
            <br>
            <div class="card">


            <div  class="card-body">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>
                                <b>Rango de fechas:</b></label>
                            
                            {{ form.date_range }}
                        </div>
                    </div>
                </div>
                <hr>
                <br>
           
                </script>
                <form action="" method="POST">
                    <table class="table table-bordered" id="data">
                        <thead>
                        <tr>
                            <th scope="col">Nro </th>
                            <th scope="col">Fecha</th>

                            <th scope="col">Monto en Gs. </th>
                        </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </form>

                <br>
                <div class="card-footer">
                    <right>
                    <a href="{{ list_url }}" class="btn btn-success btn-flat">
                        <i class="fas fa-sync"></i> Actualizar
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}
        
{% block javascript %}
<script type="text/javascript">
    var date_range = null;
    var date_now = new moment().format('YYYY-MM-DD');
    
    function generate_report() {
        var parameters = {
            'action': 'search_report',
            'start_date': date_now,
            'end_date': date_now,
        };
    
        if (date_range !== null) {
            parameters['start_date']= date_range.startDate.format('YYYY-MM-DD');
            parameters['end_date'] = date_range.endDate.format('YYYY-MM-DD');
        }
    
       $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            deferRender: true,
            ajax: {
                url: 'reporte_factura.html',
                type: 'POST',
                data: parameters,
                dataType: "script",
                dataSrc: ""
            },
   
            columnDefs: [
                {
    //                 targets: [-1, -2, -3],
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return 'Gs.' + parseFloat(data).toFixed(2);
                    }
                },
            ],
            initComplete: function (settings, json) {
    
            }
        });
    }
    
    
    $(function () {
        $('input[name="date_range"]').daterangepicker({
             locale : {
                format: 'YYYY-MM-DD',
                applyLabel: '<i class="fas fa-chart-pie"></i> Aplicar',
                cancelLabel: '<i class="fas fa-times"></i> Cancelar',
            }
        }).on('apply.daterangepicker', function (ev, picker) {
            date_range = picker;
            generate_report();
            console.log(picker.setStartDate.format('YYYY-MM-DD')+'-'+ picker.endDate.format('YYYY-MM-DD'));
            
            }).on('cancel.daterangepicker', function (ev, picker) {
            $(this).data('daterangepicker').setStartDate(date_now);
            $(this).data('daterangepicker').setEndDate(date_now);
            date_range = picker;
            generate_report();
        });
    
        generate_report();
    });
    
</script>

{% endblock %}
   
</html>