<!DOCTYPE html>
<html lang="es">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo de barra-->
    <title>Reportes de Tratamientos</title>
    <link rel="icon" href="favicon.ico" size="32x32" >
    {% load static %}

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

    
    <head>
        <center>
            <a href="/panel_control/inicio/">  
            <img src="{% static 'img/favicon.png' %}" width="95px" alt="logo">
           </a>
        <center>
    </head>
  
    <body>
        {%block content%}
     
            <div class="container">
                <hr>
                <center>
            
                <h2  style="font-family: Lucida Calligraphy; " >
                    <b>Tratamientos más solicitados</b>
                </h2>
                
                </center>
                
             {% comment %}    <form  class="form-inline" method="POST">
                    {% csrf_token %}

                    <div class="d-flex justify-content-between">
                            
                        <label class="m-0 col-md-6 text-right">Rango de Fechas:</label>
                                <input type="date" name="f"  class="form-control bg-light border-0 small "  aria-label="search" value="{{request.POST.filtro}}" >
                                <input type="date" name="q"   class="form-control bg-light border-0 small "  aria-label="search" value="{{request.POST.busqueda}}" >
                            <div class="input-group-append">
                                <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="{{request.POST.buscar}}">
                                    <!--ICONO LUPA-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                    </div>
                </form>
              {% endcomment %}
                <hr>
                <div  class="card-body"> 
             
                        {% comment %} Sale la Lista entre corchetes y comas 
                        <h5>ES LISTA </h5>
                        {{ lista| safe}}
                        <hr> {% endcomment %}
                       
                        <center><p style= "font-size: 22px";> <b>Reporte de Tratamientos</b> </p></center>
                       <spam> Periodo: Octubre - Diciembre</spam><br>
                    <br>
               {{servicios | safe}}

                        <!--Es la lista como un diccionario-->
                        {% comment %} {{resultado}} {% endcomment %}
                        <!--fin del diccionario-->
                        <br>
                        <hr>
                        <br>
                        {% comment %} es lista de Cantidades
                       
                        <hr>
                        {{lista_cantidades}}
                        <br>
                        es cantidades 
                        <br>
                        <hr>
                        {{cantidades}}
                        print("Es tipo", "#Cantidad",type(cantidades), "#draw", type(draw), "#grafico", type(g1), type(g2)) {% endcomment %}
              
   {% comment %} {{data_cantidades}}
   <br>
   <br> {% endcomment %}

  
                    <h3> Gráfico de Tratamientos</h3>
                        <center style="width: 650px">
                            <canvas id="myChart" ></canvas>
                            <script src="chart.js"></script>
                                <script>
                                    var indices={{indices|safe}};
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var chart = new Chart(ctx, {
                                    type: 'bar', 
                                    data:{
                                    datasets: [{
                                                data: {{li}},
                                    backgroundColor: ['red','yellow','pink','purple','blue','orange'],
                                    label: 'Cantidades'}],
                                    {% comment %} labels: ['R','A','b','c','d']}, {% endcomment %}
                                    labels: indices},
                                    options: {responsive: true}
                            
                                    });
                                </script>
                        </center> 
                        <hr>
                          <!--PRESENTA UN LISTADO-->
                        <!--Es la Lista General en una tabla-->
                          {% comment %} {{data | safe}} 
                          
                          {% endcomment %}
                         <!--Fin del Listado-->
                  
                

                    <br>
                    <div class="card-footer">
                       
                        <a href="{{ list_url }}" class="btn btn-success btn-flat">
                            <i class="fas fa-sync"></i> Actualizar
                        </a>
                    </div>
                </div>
            </div>
        {%endblock%}   
    </body>     
   
</html>