<!DOCTYPE html>
<html lang="es">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo de barra-->
    <title>Reportes de Tratamientos</title>
    <link rel="icon" href="favicon.ico" size="32x32" >
    {% load static %}

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

    
    <head>
        <center>
            <a href="/panel_control/inicio/">  
            <img src="{% static 'img/favicon.png' %}" width="95px" alt="logo">
           </a>
        <center>
    </head>
  
    <body>
        {%block content%}
     
            <div class="container">
                <hr>
                <center>
            
                <h2  style="font-family: Lucida Calligraphy; " >
                    <b>Tratamientos más solicitados</b>
                </h2>
                
                </center>
             
                <hr>
                <div  class="card-body"> 
             
                        {% comment %} Sale la Lista entre corchetes y comas 
                        <h5>ES LISTA </h5>
                        {{ lista| safe}}
                        <hr> {% endcomment %}
                       
                        <center><p style= "font-size: 22px";> <b>Reporte de Tratamientos</b> </p></center>
                     
                        {{tabla |safe}}
                    
                        <!--Es la lista como un diccionario-->
                        {% comment %} {{resultado}} {% endcomment %}
                        <!--fin del diccionario-->
                        <br>
                        <hr>
                        <br>
                        {% comment %} es lista de Cantidades
                       
                        <hr>
                        {{lista_cantidades}}
                        <br>
                        es cantidades 
                        <br>
                        <hr>
                        {{cantidades}}
                        print("Es tipo", "#Cantidad",type(cantidades), "#draw", type(draw), "#grafico", type(g1), type(g2)) {% endcomment %}
              
   {% comment %} {{data_cantidades}}
   <br>
   <br> {% endcomment %}

  
                    <h3> Gráfico de Tratamientos</h3>
                        <center style="width: 650px">
                            <canvas id="myChart" ></canvas>
                            <script src="chart.js"></script>
                                <script>
                                    var indices={{indices|safe}};
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var chart = new Chart(ctx, {
                                    type: 'bar', 
                                    data:{
                                    datasets: [{
                                                data: {{li}},
                                    backgroundColor: ['red','yellow','pink','purple','blue','orange'],
                                    label: 'Cantidades'}],
                                    {% comment %} labels: ['R','A','b','c','d']}, {% endcomment %}
                                    labels: indices},
                                    options: {responsive: true}
                            
                                    });
                                </script>
                        </center> 
                        <hr>
                          <!--PRESENTA UN LISTADO-->
                        <!--Es la Lista General en una tabla-->
                          {% comment %} {{data | safe}} 
                          
                          {% endcomment %}
                         <!--Fin del Listado-->
                  
                

                    <br>
                    <div class="card-footer">
                       
                        <a href="{{ list_url }}" class="btn btn-success btn-flat">
                            <i class="fas fa-sync"></i> Actualizar
                        </a>
                    </div>
                </div>
            </div>
        {%endblock%}   
    </body>     
   
</html>