{%extends 'panel_control/base.html'%}


{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="col-1 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <br>
                {%if id_tratamiento_conf%}
                <center>
                    <h3>¿Estas seguro que quieres confirmar 
                        la realización de este tratamiento?
                    </h3>
                    <br>
                    <h4>Una vez confirmada pasará al historial clinico del paciente.</h4>
                    <br>
                    <a class="btn btn-primary" href ="/tratamiento/confirmar_tratamientos/{{id_tratamiento_conf}}">
                        <i class="bi bi-check2-circle"></i>
                        Estoy seguro
                    </a>
                    <a class= "btn btn-danger" onclick="history.back()">
                        <i class="bi bi-x-circle"></i>
                        Cancelar
                    </a>
                </center>
                {%endif%}
                <br>
            </div>
        </div>
    </div>
</form>
{% endblock %}