{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{%block content%}

{%if form.errors%}
<div class="alert alert-danger" role="alert">
   Existe un error. Por favor verifique nuevamente
  </div>

{%endif%}

  <div class="row" >
                    <br>
                    <center>  <h2> Agregar un rol</h2> </center>  
                    <div class=" col-md-10 offset-md-1" >
                        <form action="" method="post">
                            {%csrf_token%}
                            {%if mensaje%}
                            <div class="alert alert-success" role="alert">
                                  ✅ Registrado exitosamente
                            </div>
                            {%endif%}
                              
                            {{form.as_p}} 
                            
                            <div class="d-flex justify-content-center">
                                {% comment %} <div class="d-flex justify-content-end">--> para poner en una esquina     {% endcomment %}
                                <!--tipo submit para enviar,luego son clases y colores btn, y btnblock para que muestre a lo largo de la tarjeta-->
                                <input type="submit" value="Guardar" class= "btn btn-primary btn-block txt-white">
                               <a href="/roles/agregar_roles/" id="cancel" name="cancel" class= "btn btn-secondary btn-block txt-white">Cancelar</a>
                          
                            </div>
                         </form>
                    <div>
                </div>

            </div>
        </div>                   

<hr>
        <table  align="right" >
            <tr>
            <td> <a href="/roles/agregar_roles" class="btn btn-success">Agregar otro rol +</a> </td>
            </tr>
             <div class="container mt-3 text-center">
                                 <a href="http://127.0.0.1:8000/base/" data-toggle="tooltip" title="Regresa al inicio"> 🔼Inicio</a>
                               </div>
      </table>
      
      <table  align="left" >
        <tr>
        <td> <a href="/roles/listar_roles/" class="btn btn-info">Ver listado de roles </a> </td>
        </tr>
  </table>



{%endblock%}