{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{%block content%}
<div class="container">
<main>
{%if perms.webapp.add_usuario%}
{%if form.errors%}
<div class="alert alert-danger" role="alert">
   Existe un error. Por favor verifique nuevamente
  </div>

{%endif%}
    
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <br>
                    <center><h2> Agregar Usuario</h2></center>  
                    <div class="card-body">
                        <form action="" method="post">
                            {%csrf_token%}
                            {%if mensaje%}
                            <div class="alert alert-success" role="alert">
                                  ✅ Usuario registrado exitosamente
                            </div>
                            {%endif%}
                            <b>
                            {{form.as_p}}
                            </b> 
                           <!--COMENTE ESTE BLOQUE PERSONALIZADO DE USUARIO . Porque, si es con el form.as_p SI HAY ERRORES MUESTRA QUE ERROR ES-->
                          {% comment %} <div style="margin: 20px;" >
                            <table>
                              <b>
                                <div class="form-group">
                                    <label for="{{form.usuario.name}}">{{form.usuario.label}}</label>
                                    {{form.usuario}}
                                </div>
                                 <small class="form-text text-muted"> ✏️ Ejemplo : jperez </small> 
                                <br>
                                <br>
                               <div class="form-group">
                                  <label for="{{form.password1.name}}">{{form.password1.label}}</label>
                                  {{form.password1}}
                               </div>
                                <br>
                                <div class="form-group">
                                    <label for="{{form.password2.name}}">{{form.password2.label}}</label>
                                    {{form.password2}}
                                </div>
                                <br>
                                <div class="form-group">
                                            <label for="{{form.numero_documento.name}}">{{form.numero_documento.label}}</label>
                                            {{form.numero_documento}}
                                        </div>
                                <br>
                                <div class="form-group">
                                    <label for="{{form.groups.name}}">{{form.groups.label}}</label>
                                    {{form.groups}}
                                </div>
                                
                                <br>
                                <div class="form-group">
                                  <label for="{{form.is_active.name}}">{{form.is_active.label}}</label>
                                  {{form.is_active}}
                                </div>
                           
                                <div class="form-group">
                                    <label for="{{form.is_admin.name}}">{{form.is_admin.label}}</label>
                                    {{form.is_admin}}
                                </div>
                              </b>
                            </table>
                          </div> {% endcomment %}

                            <br>
                          <div class="d-flex justify-content-center">  
                              {% comment %} <div class="d-flex justify-content-end">--> para poner en una esquina     {% endcomment %}
                              <!--tipo submit para enviar,luego son clases y colores btn, y btnblock para que muestre a lo largo de la tarjeta-->
                              <input type="submit" onclick="guardar()" value="Guardar" class= "btn btn-primary btn-block txt-white">
                              &nbsp;
                              {% comment %} <input href="/sesion/agregar_usuario/" type="reset" value="Cancelar" class= "btn btn-secondary btn-block txt-white">  
                            <button id="cancel" name="cancel" class="btn btn-default" value="1">Cancel</button> {% endcomment %}
                                <a href="/listar_usuario/" id="cancel" name="cancel" class= "btn btn-secondary btn-block txt-white">Cancelar</a>
                        
                          </div>
                        </form>
                  <div>
              </div>
            </div>
        </div>
<hr>
        <table  align="right" >
            <tr>
              <td>
                <a href="/agregar_usuario/" class="btn btn-success">
                  <i class="bi-person-plus-fill"></i>
                  Agregar otro usuario
                </a>
              </td>
            </tr>
            <div class="container mt-3 text-center">
              <a href=" /panel_control/inicio/" data-toggle="tooltip" title="Regresa al inicio"> <i class="bi bi-house-door"></i>Inicio</a>
            </div>
      </table>
 {% else%}
<h2 class="titulo text-center">
                  No tiene permisos para ingresar a esta sección
                 
                  
              </h2>
{%endif%}     
      <table  align="left" >
        <tr>
        <td>
          <a href="/listar_usuario/" class="btn btn-info">
            <i class="bi-view-list"></i>
            Ver listado de los usuarios
          </a>
        </td>
        </tr>
  </table>

</main>
</div>
{%endblock%}