{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{{object}}

{%block content%}
     {%if perms.webapp.change_usuario%} 
<div class="row">
   
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <br>
            <center>  <h2> Modificar Usuario</h2> </center>
            <div class="card-body">
                <form action="" method="post">
                    {%csrf_token%}                     
                    {% if messages %}
                        <ul class="messages">
                          
                            {% for message in messages %}
                            <li class="list-group-item list-group-item-warning col-12 col-md-6 offset-md-3">
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ❌Error:
                                {% comment %} {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <B><FONT COLOR="BLUE">¡La operación fue exitosa!: </FONT> {% endcomment %}
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <!--Formulario de modificaciones-->
                        <b>
                            <div class="form-group">
                                <label for="{{form.usuario.name}}">{{form.usuario.label}}</label>
                                {{form.usuario}}
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="{{form.numero_documento.name}}">{{form.numero_documento.label}}</label>
                                {{form.numero_documento}}
                            </div>
                            <br>
                            <a href="/cambiar_password_usuario/{{object.usuario}}" class="btn btn-outline-info">
                                <i class="bi bi-key"></i>
                                Cambiar contraseña
                            </a>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="{{form.groups.name}}">{{form.groups.label}}</label>
                                {{form.groups}}
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="{{form.is_active.name}}">{{form.is_active.label}}</label>
                                {{form.is_active}}
                            </div>
                            <div class="form-group">
                                <label for="{{form.is_admin.name}}">{{form.is_admin.label}}</label>
                                {{form.is_admin}}
                            </div>
                        </b>

                        <!--Opciones-->
                        <div class="d-flex justify-content-center">
                            <!--tipo submit para enviar,luego son clases y colores btn, y btnblock para que muestre a lo largo de la tarjeta-->
                            <input type="submit" value="Guardar " class= "btn btn-primary btn-block txt-white" name="_save">
                            &nbsp;
                            <a href="/listar_usuario/" class= "btn btn-secondary btn-block txt-white">Cancelar</a>
                        </div>    
                </form>
             
           <div>
      </div>

    </div>
</div>
           
 {% else%}
<h2 class="titulo text-center">
                  No tiene permisos para ingresar a esta sección
                 
                  
              </h2>
{%endif%}
                    <hr>
                        
                        <table  align="right" >
                               <div class="container mt-3 text-left">
                                 <a href="http://127.0.0.1:8000/base/" data-toggle="tooltip" title="Vuelve al inicio"> 🔼 Inicio</a>
                               </div>
                            <tr>
                            <td> <a href="/listar_usuario/" class="btn btn-info">Ver listado de los usuarios </a> </td>
                            </tr>
                         </table>


{%endblock%}



