{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{%block content%}

<div class="col-12 col-md-6 offset-md-3">
    
        <div class="card">
            <br><br>
            <center>  <h2> Cambio de Contraseña</h2> </center>    
                  <!-- Tooltip. -->
                <div class="container mt-3 text-center">
                    <small> <b>   ¡ Ingrese la nueva contraseña ! </small>
                </div>
            
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}     

                     {%if mensaje%}
                            <div class="alert alert-success" role="alert">
                                  ✅ Contraseña Modificada
                            </div>
                            {%endif%}

                    <div style="margin: 20px;" >
                        <div style="margin: 10px;">
                            
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                  <li class="list-group-item list-group-item-warning">
                                               <strong> ❌Error: </strong> {{ error | escape }}
                                  </li>
                                {% endfor %}
                            {% endif %}
                            {{ form.password1.label }}
                            {{ form.password1 }}
                        </div>

                        <div style="margin: 10px;">
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <li class="list-group-item list-group-item-warning">
                                        <strong> ❌Error: </strong> {{ error | escape }}
                                  </li>
                                {% endfor %}
                            {% endif %}
                            {{ form.password2.label }}
                            {{ form.password2 }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" onclick="guardar()"  type="submit" style="margin: 10px;">Cambiar mi contraseña</button>
                        <a href="/panel_control/inicio/" class="btn btn-danger" style="margin: 10px;">Cancelar</a>
                    </div>
                
                                 {% comment %} <script>
                                          function guardar() {
                                          
                                              Swal.fire({
                                        icon: 'success',
                                        title: 'Contraseña cambiada',
                                      })
                                          }
                                      </script> {% endcomment %}
                </form>
            </div>
        </div>
</div>
                
{%endblock%}




