{%extends 'panel_control/base.html'%}  
{% comment %} <!--Gestion de Insumos-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}

{%block content%}

<!-- {%if perms.gestion_tratamiento.view_tratamiento%}   -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                  <h3> Insumo: <b style="color:blue;"> {{tratamiento_insumo_asignado.insumo.nombre_insumo}}</b></h3>
                </center>
                <div class="form-group">
                    <label for="{{form.cantidad.name}}">{{form.cantidad.label}}</label>{{form.cantidad}}
                </div>
                <table>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a type="submit" href="/insumo/asignar_insumos/{{tratamiento.codigo_tratamiento}}" class="btn btn-primary btn-block txt-white">
                            <i class="bi bi-plus-circle"></i>
                            Guardar
                        </a>
                        &nbsp;
                        <a onclick = "history.back()" class="btn btn-secondary"  >
                            <i class="bi-x-circle"></i> 
                            Atrás
                        </a>
                    </div>
                </table>
            <!--end TABLA-->
        
            </div>
        </div>
    </div>
<!-- {%endif%} -->

{%endblock%}