{%extends 'panel_control/base.html'%}

{%block content%}
    {%if perms.gestion_inventario_insumos.add_insumo%}

       <div class="container">
            <div class=" col-md-10 offset-md-1" >
                    <div class="card">
                        <br>
                        <center>  <h2>Agregar Insumo</h2> </center>      
                            <!-- <form method="POST" id="group_form" novalidate=""> -->
                    
                            <form action="" method="post">
                                {%csrf_token%}
                                <div style="margin: 20px;" > 
                                    {%if mensaje%}
                                        <div class="alert alert-success" role="alert">
                                            ✅ Insumo agregado correctamente
                                        </div>
                                    {%endif%}
                                            <!-- {{form.as_p}}  -->
                                                <table>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                        <label for="{{form.nombre_insumo.name}}">{{form.nombre_insumo.label}}</label></p>
                                                        {{form.nombre_insumo}}</p>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                        <label for="{{form.descripcion_insumo.name}}">{{form.descripcion_insumo.label}}</label></p>
                                                        {{form.descripcion_insumo}}</p>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                    <p>
                                                        <label for="{{form.precio.name}}">{{form.precio.label}}</label></p>
                                                        {{form.precio}} </p>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.fecha_caducidad.name}}">{{form.fecha_caducidad.label}}</label></p>
                                                            {{form.fecha_caducidad}} </p>
                                                        </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.cantidad_insumo.name}}">{{form.cantidad_insumo.label}}</label></p>
                                                            {{form.cantidad_insumo}} </p>
                                                        </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.unidad.name}}">{{form.unidad.label}}</label></p>
                                                            {{form.unidad}} </p>
                                                        </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.unidad_x_paquete.name}}">{{form.unidad_x_paquete.label}}</label></p>
                                                            {{form.unidad_x_paquete}} </p>
                                                        </div>
                                                    <br>
                                                    <!-- <div class="form-group">
                                                        <p>
                                                            <label for="{{form.cantidad_unitaria.name}}">{{form.cantidad_unitaria.label}}</label></p>
                                                            {{form.cantidad_unitaria}} </p>
                                                        </div>
                                                    <br> -->
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.stock_minimo.name}}">{{form.stock_minimo.label}}</label></p>
                                                            {{form.stock_minimo}} </p>
                                                        </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <p>
                                                            <label for="{{form.ud_unitaria.name}}">{{form.ud_unitaria.label}}</label></p>
                                                            {{form.ud_unitaria}} </p>
                                                        </div>
                                                    <br>
                                                    </Table>

                                </div> 
                                <!-- <div style="margin: 20px;" ></div> -->
                                
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" type="submit" style="margin: 10px;">Guardar</button>
                                    <a href="/insumo/listar_insumo/" class="btn btn-danger" style="margin: 10px;">Cancelar</a>
                                </div>
                                <hr>
                            
                            </form>
                    </div>
                        
            </div>
        
    {% else%}
        <h2 class="titulo text-center">
            No tiene permisos para ingresar a esta sección
        </h2>
                    
    {%endif%}                          
                <table  align="center" >
                    <tr>
                    <td> <a href="/insumo/listar_insumos/" class="btn btn-info">Ver listado de insumos </a> </td>
                    </tr>
                </table>
   </div>
{%endblock%}