<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Insumos SIMPLE</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <h2> 
                        <2 class="bi bi-list-check"> 
                            Lista de Insumos
                        </2> 
                    </h2>
                </center>
                
             
                <!--end-->
                
                <!--Inicio de la TABLA DE INSUMOS-->
                <table>
                    <!--table striped es para que resalte 1 fila y otra no-->
                    <!--table-bordered para bordes-->
                    <table class="table table-striped table-hover">
                        <thead> 
                            <tr>
                                <th>Nro Insumo</th>
                                <th>Nombre </th>
                                <th>Costo Unitario</th>  
                                <!-- <th>Fecha de Caducidad</th>  -->
                               
                            </tr>
                        </thead>

                        <tbody>
                            {%for c in insumos%}
                                <tr>
                                    <td >{{forloop.counter}}</td>
                                    <td >{{c.nombre_insumo}}</td>
                                    <td>{{c.precio}} Gs.</td> 
                                    <!-- <td>{{c.fecha_caducidad}}</td>  -->
                                    <td>{{c.cantidad_insumo}}</td> 
                                    <td>{{c.cantidad_unitaria}}</td> 
                                    <td>{{c.unidad}}</td> 
                                  
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </table>
            <!--end TABLA-->
            </div>
        </div>
    </div>

</body>
</html>
