{%extends 'panel_control/base.html'%}  
{% comment %} <!--Gestion de Insumos-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}

{%block content%}

{%if perms.gestion_tratamiento.view_tratamiento%}  
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                  <h3> 
                    <b>Tratamiento: </b><FONT SIZE="5" style="color:blue;"> <i><b>{{tratamiento.nombre_tratamiento}}</b></i></FONT>
                </h3>
                </center>
                <br>
                <center>
                    <h4>
                       <b> Insumos asignados </b>
                    </h4>
                </center>

                <!--Inicio de la TABLA DE TRATAMIENTOS-->
                <table>
                    <!--table striped es para que resalte 1 fila y otra no-->
                    <!--table-bordered para bordes-->
                    <table class="table table-striped table-hover">
                        <thead> 
                            <tr>
                                {%if insumos_asignados%}
                                    <th>Nro Insumo</th>
                                    <th>Nombre </th>
                                    <th>Cantidad </th>
                                    <th> </th>
                                    <!-- <th>Acciones</th> -->
                                {%endif%}
                            </tr>
                        </thead>

                        <tbody>
                                {%if insumos_asignados%}
                                    {%for insumo in insumos_asignados%}
                                        <tr>
                                            <td >{{forloop.counter}}</td>
                                            <td >{{insumo.nombre_insumo}}</td>
                                            <td ></td>
                                            <td >
                                                <a href="/insumo/editar_cantidad_insumo_asignado/{{id_tratamiento_insumo}}" class="btn btn-success">
                                                    <i class="bi bi-pencil-square"></i>
                                                    Editar cantidad
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {%else%}
                                    <br>
                                   
                                    <center>
                                        
                                     <div class="alert alert-success alert-info  col-md-4 offset-md-0 "  style ="font-size:17px;"  role="alert">
                                         El tratamiento no tiene insumos asignados 
                                    </div>
                                        
                                    </center>
                                {%endif%}


                                <!-- {% if messages %}
                                <ul class="messages">
                                
                                    {% for message in messages %}
                                    <li>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <B><FONT COLOR="BLUE">¡La operación fue exitosa!: </FONT>
                                        Insumo
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                                        {{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %} -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {%if insumos_asignados%}
                        <a type="submit" href="/insumo/asignar_insumos/{{tratamiento.codigo_tratamiento}}" class="btn btn-primary btn-block txt-white">
                            <i class="bi bi-plus-circle"></i>
                            Agregar
                        </a>
                        {%endif%}
                        &nbsp;
                        <a onclick = "history.back()" class="btn btn-secondary"  >
                            <i class="bi-x-circle"></i> 
                            Atrás
                        </a>
                    </div>
                </table>
            <!--end TABLA-->
        
            </div>
        </div>
    </div>
{%endif%}

{%endblock%}