{%extends 'panel_control/base.html'%}  
{% comment %} 
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{%block content%}
  {%if perms.gestion_inventario_insumos.change_insumo%} 
<div class="row">
   
  <div class=" col-md-10 offset-md-1" >
        <div class="card">
            <br>
            <center>  <h2> Modificar Insumo</h2> </center>
            <div class="card-body">
                <form action="" method="post">
                    {%csrf_token%}
                    {%if mensaje%}
                    <div class="alert alert-success" role="alert">
                    ✅¡Modificación exitosa!
                    </div>
                    {%endif%}

                        <!-- {{form.as_p}} -->
                        <table>
                            <br>
                            <div class="form-group">
                                <p>
                                <label for="{{form.nombre_insumo.name}}">{{form.nombre_insumo.label}}</label></p>
                                {{form.nombre_insumo}}</p>
                            </div>
                            <br>
                            <div class="form-group">
                                <p>
                                <label for="{{form.descripcion_insumo.name}}">{{form.descripcion_insumo.label}}</label></p>
                                {{form.descripcion_insumo}}</p>
                            </div>
                            <br>
                            <div class="form-group">
                            <p>
                                <label for="{{form.precio.name}}">{{form.precio.label}}</label></p>
                                {{form.precio}} </p>
                            </div>
                            <br>
                            <p>
                            <div class="form-group">
                                <label for="{{form.fecha_caducidad.name}}">{{form.fecha_caducidad.label}}</label>
                                {{form.fecha_caducidad}}
                            </div></p>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.cantidad_insumo.name}}">{{form.cantidad_insumo.label}}</label></p>
                                    {{form.cantidad_insumo}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.unidad.name}}">{{form.unidad.label}}</label></p>
                                    {{form.unidad}} </p>
                                </div>
                            <br>
                            </Table>
                   

                        <br>
                        <div class="d-flex justify-content-center">
                            <!--tipo submit para enviar,luego son clases y colores btn, y btnblock para que muestre a lo largo de la tarjeta-->
                            <input type="submit" value="Modificar y Guardar " class= "btn btn-primary btn-block txt-white" name="_save">
                            &nbsp;
                            <a class= "btn btn-secondary btn-block txt-white" onclick="history.back()">Cancelar</a>  
                        
                        </div> 

                </form>
                
           <div>
      </div>

    </div>
</div>
{% else%}
<h2 class="titulo text-center">
                  No tiene permisos para ingresar a esta sección
                 
                  
              </h2>
{%endif%}
                    <hr>
                        
                        <table  align="right" >
                            <tr>
                            <td> <a href="/insumo/listar_insumo/" class="btn btn-info">Ver listado de insumos </a> </td>
                            </tr>
                        </table>
{%endblock%}