{%extends 'panel_control/base.html'%}  
{% comment %} 
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}

{%block content%}
  {%if perms.gestion_inventario_insumos.change_insumo%} 
<div class="row">
   
  <div class=" col-md-10 offset-md-1" >
        <div class="card">
            <br>
            <center>  
                <h1 style="font-family: Bodoni;"> 
                   <b>Modificar Insumo</b> 
                </h1> 
            </center>
            <div class="container mt-3 text-center">
                <i> ¡ Modifique los datos del Insumo ! </i>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {%csrf_token%}
                    {%if mensaje%}
                    <div class="alert alert-success" role="alert">
                    ✅¡Modificación exitosa!
                    </div>
                    {%endif%}
                        <table>
                            <br>
                            <div class="form-group">
                                <p>
                                <label for="{{form.nombre_insumo.name}}"><b>{{form.nombre_insumo.label}}</b> </label></p>
                                {{form.nombre_insumo}}</p>
                            </div>
                            <br>
                            <div class="form-group">
                                <p>
                                <label for="{{form.descripcion_insumo.name}}"><b>{{form.descripcion_insumo.label}}</b></label></p>
                                {{form.descripcion_insumo}}</p>
                            </div>
                            <br>
                            <div class="form-group">
                            <p>
                                <label for="{{form.precio.name}}"><b>{{form.precio.label}}</b> </label></p>
                                {{form.precio}} </p>
                            </div>
                            <br>
                            <p>
                            <div class="form-group">
                                <label for="{{form.fecha_caducidad.name}}"><b>{{form.fecha_caducidad.label}}</b> </label>
                                {{form.fecha_caducidad}}
                            </div></p>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.cantidad_insumo.name}}"><b>{{form.cantidad_insumo.label}}</b> </label></p>
                                    {{form.cantidad_insumo}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.unidad.name}}"><b>{{form.unidad.label}}</b> </label></p>
                                    {{form.unidad}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.unidad_x_paquete.name}}"><b>{{form.unidad_x_paquete.label}}</b> </label></p>
                                    {{form.unidad_x_paquete}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.cantidad_unitaria.name}}"><b>{{form.cantidad_unitaria.label}}</b> </label></p>
                                    {{form.cantidad_unitaria}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.ud_unitaria.name}}"><b>{{form.ud_unitaria.label}}</b> </label></p>
                                    {{form.ud_unitaria}} </p>
                                </div>
                            <br>
                            <div class="form-group">
                                <p>
                                    <label for="{{form.stock_minimo.name}}"><b>{{form.stock_minimo.label}}</b> </label></p>
                                    {{form.stock_minimo}} </p>
                                </div>
                            <br>
                            </Table>
                        <br>
                        <div class="d-flex justify-content-center">
                            <!--tipo submit para enviar,luego son clases y colores btn, y btnblock para que muestre a lo largo de la tarjeta-->
                            <input type="submit" value="Modificar y Guardar " class= "btn btn-primary btn-block txt-white" name="_save">
                            &nbsp;
                            <a class= "btn btn-secondary btn-block txt-white" onclick="history.back()">Cancelar</a>  
                        
                        </div> 

                </form>
                
           <div>
      </div>

    </div>
</div>
{% else%}
<h2 class="titulo text-center">
                  No tiene permisos para ingresar a esta sección
                 
                  
              </h2>
{%endif%}
                    <hr>
                        
                        <table  align="right" >
                            <tr>
                            <td> <a href="/insumo/listar_insumos/" class="btn btn-info">Ver listado de insumos </a> </td>
                            </tr>
                        </table>
{%endblock%}