{%extends 'panel_control/base.html'%}

{%load static%}


{%block content%}
<div style="margin: 20px;">
    <div class="card" >
        <br>
        <center>
            <div style=" color:  rgb(0, 162, 255);">
                <h2>
                    <!-- <i class="bi bi-file-text"></i> -->
                    <b>Ingrese el/los detalle/s del comprobante</b>
                </h2>
            </div>
        </center>
        <div class="card-body">
            <form action="" method="POST">
                {%csrf_token%}
                <center>
                    <div style="margin: 20px; width: 80%;">
                        <br>
                        <center>
                            <div class="form-group" style="width: 70%;">  <!--style="float: left; width: 80%;"> -->
                                <label for="{{form2.fecha.name}}" style="float: left;"><b>{{form2.fecha.label}}</b>  </label>
                                {{form2.fecha}}
                            </div>
                        </center>
                        <div>
                            <div class="form-group" style="width: 40%; float: left;">  <!--style="float: left; width: 80%;"> -->
                                <label for="{{form2.timbrado.name}}" style="float: left;"><b>{{form2.timbrado.label}}</b>  </label>
                                {{form2.timbrado}}
                            </div>
                            <div class="form-group" style="width: 40%; float: right;">  <!--style="float: left; width: 80%;"> -->
                                <label for="{{form2.condicion_venta.name}}" style="float: left;"><b>{{form2.condicion_venta.label}}</b>  </label>
                                {{form2.condicion_venta}}
                            </div>
                        </div>
                        <div>
                            <div class="form-group" style="width: 39%; float: left;">  <!--style="float: left; width: 80%;"> -->
                                <label for="{{form2.numero_comprobante.name}}" style="float: left;"><b>{{form2.numero_comprobante.label}}</b> </label>
                                {{form2.numero_comprobante}}
                            </div>
                            <div class="form-group" style="width: 60%; float: right;">
                                <label for="{{form2.razon_social.name}}" style="float: left;"><b>{{form2.razon_social.label}}</b> </label>
                                {{form2.razon_social}}
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </center>
                <br>
                <br>
                <br> 
                <br>
                <div style="color: white; background-color: lightskyblue;">
                    <h4 align="center">
                        Detalles del comprobante
                    </h4>
                </div>
                <div style="margin: 20px;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Descripción</th>
                                <th>Total de pago</th>
                                <th>IVA 5%</th>
                                <th>IVA 10%</th>
                            </tr>
                            <tbody>
                                {%if detalles%}
                                    {%for d in detalles%}
                                        <tr>
                                            <td>{{d.cantidad}}</td>
                                            <td>{{d.descripcion}}</td>
                                            <td>{{d.precio_unitario}}</td>
                                            <td>{{d.iva_5}}</td>
                                            <td>{{d.iva_10}}</td>
                                        </tr>
                                    {%endfor%}
                                {%endif%}
                                <tr>
                                    <td id="cantidad">{{form.cantidad}}</td>
                                    <td id="descripcion">{{form.descripcion}}</td>
                                    <td id="precio_unitario">{{form.precio_unitario}}</td>
                                    <td id="iva_5">{{form.iva_5}}</td>
                                    <td id="iva_10">{{form.iva_10}}</td>
                                </tr>
                            </tbody>
                        </thead>

                    </table>

                </div>
                <br>
                <div align="center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-arrow-right-square"></i>
                        Guardar y agregar siguiente
                    </button>
                    &nbsp;&nbsp;
                    <a type="button" class="btn btn-success" href="/cobros/agregar_monto_total/{{id_comprobante}}">
                        <i class="bi bi-box-arrow-in-down"></i>
                        Terminar
                    </a>
                </div>
                
            </form>
            <br>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    function cantidad(){
        var v_cantidad = document.getElementById("cantidad").value;
        return v_cantidad
    }

    function descripcion(){
        var v_descripcion = document.getElementById("descripcion").value;
        return v_descripcion
    }

    function precio_unitario(){
        var v_precio_unitario = document.getElementById("precio_unitario").value;
        return v_precio_unitario
    }

    function iva_5(){
        var v_iva_5 = document.getElementById("iva_5").value;
        return v_iva_5
    }

    function iva_10(){
        var v_iva_10 = document.getElementById("iva_10").value;
        return v_iva_10
    }
    var b_cantidad = cantidad()
    var b_descripcion = descripcion()
    var b_precion_unitario = precion_unitario()
    var b_iva_5 = iva_5()
    var b_iva_10 = iva_10()
</script>

{%endblock%}