{%extends 'panel_control/base.html'%}

{%load static%}


{%block content%}
<div class="col-12 col-md-8 offset-md-2">
    <div class="card" >
        <br>
        <center>
            <div style=" color:  rgb(0, 162, 255);">
                <h2>
                    <!-- <i class="bi bi-file-text"></i> -->
                    <b>Ingrese los datos de la cabecera</b>
                </h2>
            </div>
        </center>
        <div class="card-body">
            <form action="" method="POST">
                {%csrf_token%}
                <div style="margin: 20px;">
                    <center>
                        <br>
                    <div class="form-group" style="width: 70%;">  <!--style="float: left; width: 80%;"> -->
                        <label for="{{form.fecha.name}}" style="float: left;"><b>{{form.fecha.label}}</b>  </label>
                        {{form.fecha}}
                    </div>
                    <br>
                    <div class="form-group" style="width: 70%;">  <!--style="float: left; width: 80%;"> -->
                        <label for="{{form.timbrado.name}}" style="float: left;"><b>{{form.timbrado.label}}</b>  </label>
                        {{form.timbrado}}
                    </div>
                    <br>
                    <div class="form-group" style="width: 70%;">  <!--style="float: left; width: 80%;"> -->
                        <label for="{{form.numero_comprobante.name}}" style="float: left;"><b>{{form.numero_comprobante.label}}</b> </label>
                        {{form.numero_comprobante}}
                    </div>
                    <br>
                    <div class="form-group" style="width: 70%;">
                        <label for="{{form.razon_social.name}}" style="float: left;"><b>{{form.razon_social.label}}</b> </label>
                        {{form.razon_social}}
                    </div>
                    <br>
                    <div class="form-group" style="width: 70%;">  <!--style="float: left; width: 80%;"> -->
                        <label for="{{form.condicion_venta.name}}" style="float: left;"><b>{{form.condicion_venta.label}}</b>  </label>
                        {{form.condicion_venta}}
                    </div>
                    </center>
                    </div>
                    <br>
                </div>
                <div align="center" class="d-grid gap-2 col-4 mx-auto">
                    <button type="submit" target="_blank" class="btn btn-primary">
                        <i class="bi bi-box-arrow-in-down"></i>
                        Guardar y agregar detalles
                    </button>
                    &nbsp;&nbsp;
                    <!-- <a onclick="history.back()" class="btn btn-outline-danger">
                        <i class="bi bi-back"></i>
                        Atrás
                    </a> -->
                </div>
                
            </form>
            <br>
            
        </div>
    </div>
</div>

{%endblock%}