{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}
<!--Cuadro de DIALOGO DE ELIMINAR-->



{%block content%}
  

{%if perms.gestion_agendamiento.view_cita%}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <strong  style="color:blue; font-size:16px;" >
                        <h2 <i class="bi bi-hand-thumbs-up-fill"></i> ¡Gracias por la preferencia! </h2>                                       
                    </strong>
                  
                </center>
              <br>
               <table  align="center" >
                        <tr>
                        <td>
                           
                            {%if perms.gestion_agendamiento.view_cita%}
                                <a href="/agendamiento/calendar" class="btn btn-info">
                                    <i class="bi bi-calendar"></i>
                                   Ver Calendario <br>
                                </a>
                                {%endif%}
                        </td>
                        </tr>
                </table>
            </div>
        </div>
            
    </div>
    {% endif %}
{%endblock%}