{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}
<!--Cuadro de DIALOGO DE ELIMINAR-->



{%block content%}
  


    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <br>
                    <strong  style="color:blue; font-size:16px;" >
                        <h2 <i class="bi bi-hand-thumbs-up-fill"></i> ¡Gracias por la preferencia! <br>  </h2>                                       
                    </strong>
                    <br>
                    <strong  style="color:black; font-size:20px;" >
                         La Odontología se pondrá en contacto con usted
                                                             
                    </strong>
                    <br>
                    <i> para la posterior confirmación de la cita</i>

                 
                </center>
              <br>
               <table  align="center" >
                        <tr>
                        <td>
                            <a href="/agendamiento/calendario_usuario" class="btn btn-info">
                                <i class="bi bi-calendar"></i>
                                Ver Calendario <br>
                            </a>
                              
                        </td>
                        &nbsp;
                        {%if perms.gestion_agendamiento.view_cita%}
                            <td>
                                <a href="/agendamiento/listado_citas" class="btn btn-success">
                                    <i class="bi bi-calendar"></i>
                                    Listado de citas Reservadas <br>
                                </a>
                                    
                            </td>
                        {%endif%}
                        </tr>
                </table>
            </div>
        </div>
            
    </div>

{%endblock%}