{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}
<!--Cuadro de DIALOGO DE ELIMINAR-->



{%block content%}
  


    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <strong  style="color:blue; font-size:16px;" >
                        <h2 <i class="bi bi-hand-thumbs-up-fill"></i> Registrado </h2>                                       
                    </strong>
                  
                </center>
              <br>
               <table  align="center" >
                        <tr>
                        <td>
                           
                           
                            <a href="/agendamiento/calendar" class="btn btn-info">
                                <i class="bi bi-calendar"></i>
                                Ver Calendario <br>
                            </a>
                            <a onclick="history.back()" class="btn btn-primary">
                                                    <i class="bi bi-backspace"></i>
                                                    Atrás 
                                                </a>
                              
                        </td>
                        </tr>
                </table>
            </div>
        </div>
            
    </div>

{%endblock%}