{%extends 'panel_control/base.html'%}
{% load static %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <center>
                    
                           <br>
        <strong  style="color:blue; font-size:16px;" >
                        <h2>   Horario de Atención <br> <img src="{% static 'img/aviso.jpg' %}" width="120px" alt="auto"> 
                            <br> Lunes a Viernes  <br> <i style="color:black; font-size:16px;">- <b>Mañana:</b> 08:00hs a 12:00hs <br>
                                                                                            - <b>Tarde:</b> 13:30hs a 21:00hs </i></h2>                                       
                    </strong> <br>

                       <center> <small><b> Por favor elija otra fecha</b> </small></center>
                       <br>
                        {% comment %} <button  href="/agendamiento/usuario_addCita/{{user.numero_documento}} " class="btn btn-primary" type="submit" style="margin: 10px;">
                           Agendar una cita 
                        </button> {% endcomment %}

                    
                        <a href="/agendamiento/calendario_usuario" class="btn btn-info">
                            <i class="bi bi-calendar"></i>
                            Ver Calendario <br>
                        </a>
                        <a onclick="history.back()" class="btn btn-success">
                           <i class="bi bi-backspace"></i>
                           Atrás <br>
                        </a>
                          
                     
      
    </center>
     
</form>
{% endblock %}