{%extends 'panel_control/base.html'%}
{% load static %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <center>
                    
        <br>
        <strong  style="color:blue; font-size:16px;" >
            <h2  <i class="bi bi-journal-x"></i><b> Sobreposición de citas</b>
               <br>
                <br>La cita coincide en hora y fecha 
                <br> con otra agendada para el mismo paciente
                <h4>Por favor, verifique los datos.</h4>
            </h2>
        </strong> <br>
            <br>
                    <a href="/agendamiento/calendar" class="btn btn-info">
                        <i class="bi bi-calendar"></i>
                        Ver Calendario Odontólogo<br>
                    </a>
                    <a onclick="history.back()" class="btn btn-success">
                        <i class="bi bi-backspace"></i>
                        Atrás <br>
                    </a>
                
                     
      
    </center>
     
</form>
{% endblock %}