{%extends 'panel_control/base.html'%}
{% load static %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <center>

        <h2 style="color:black;">
            
                        <br> Ya se cuenta con una cita <b>en esta fecha </b>                                
        </h2>
          {% comment %} <img src="{% static 'img/check.PNG' %}" width="120px" alt="auto">  {% endcomment %}

                       <center> <small  style="font-size:20px;"><i> La misma ya se habia <b>agendado </b>  con anterioridad</i></small></center>
                       <br>
                       
                               <a href="/agendamiento/calendar" class="btn btn-info">
                                    <i class="bi bi-calendar"></i>
                                    Ver Calendario Odontólogo<br>
                               </a>
                                <a onclick="history.back()" class="btn btn-success">
                                    <i class="bi bi-backspace"></i>
                                    Atrás <br>
                                </a>
                          
                     
      
    </center>
     
</form>
{% endblock %}