{%extends 'panel_control/base.html'%}
{% load static %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <center>
                    
                           <br>
        <strong  style="color:blue; font-size:16px;" >
         <br>
                        <h2> <img src="{% static 'img/aviso.jpg' %}" width="120px" alt="auto"> 
                            No se puede reservar una fecha pasada <br> 
                       </h2>                                       
                    </strong> <br>

                       <center> <small><b> Por favor elija otra fecha</b> </small></center>
                       <br>
                       <button  href="/agendamiento/usuario_addCita/{{user.numero_documento}} " class="btn btn-primary" type="submit" style="margin: 10px;">
                           Agendar una cita 
                        </button> 

                          
                        <a href="/agendamiento/calendario_usuario" class="btn btn-info">
                           <i class="bi bi-calendar"></i>
                           Ver Calendario <br>
                        </a>
                          
                     
      
    </center>
     
</form>
{% endblock %}