{%extends 'panel_control/base.html'%}
{% load static %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <center>
                    
                           <br>
        <strong  style="color:blue; font-size:16px;" >
                        <h2  <i class="bi bi-journal-x"></i> Duplicado. <img src="{% static 'img/horario.jpg' %}" width="130px" alt="auto"> <br> Usted ya cuenta con una cita  <br> en la misma fecha</h2>                                       
                    </strong> <br>

                       <center> <small><b> Por favor verifique nuevamente el calendario </b> </small></center>
                       <br>
                        {% comment %} <button  href="/agendamiento/usuario_addCita/{{user.numero_documento}} " class="btn btn-primary" type="submit" style="margin: 10px;">
                           Agendar una cita 
                        </button> {% endcomment %}

                          
                                <a href="/agendamiento/calendario_usuario" class="btn btn-info">
                                    <i class="bi bi-calendar"></i>
                                   Ver Calendario <br>
                                </a>
                                <a onclick="history.back()" class="btn btn-success">
                                    <i class="bi bi-backspace"></i>
                                    Atrás <br>
                                </a>
                          
                     
      
    </center>
     
</form>
{% endblock %}