{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}

{%block content%}
  
{{persona}}
{%if perms.gestion_agendamiento.view_cita%}
    <div class="container">
        <div class="card">
            <div class="card-body">
                    <center> 
                        
                        <h2  style="font-family: Lucida Calligraphy;">
                            <b class="bi bi-calendar2-week">
                                Citas Reservadas 
                            </b> 
                        </h2>
                    </center>
              
                <table  align="right" >
                        <tr>
                        <td>
                           
                            {%if perms.gestion_agendamiento.view_cita%}
                                <a href="/agendamiento/calendar" class="btn btn-info">
                                    <i class="bi bi-calendar"></i>
                                   Ver Calendario <br>
                                </a>
                                {%endif%}
                        </td>
                        </tr>
                </table>
            
<br> <br>
<br> 
                        <!--Barra de Busqueda Por nombre-->
                        <form  class="form-inline" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="search" name="q"  class="form-control bg-light border-0 small" placeholder="Buscar nombre del paciente" aria-label="search" value="{{request.POST.buscar}}" >
                                <br>
                                <div class="input-group-append">
                                    <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                        <!--ICONO LUPA-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br>
                        <strong>  <FONT COLOR="skyblue" style="font-size: 1.0rem" > &nbsp;  Filtro por fecha</FONT> </strong>
                          <!--Barra de Busqueda Por Fecha-->
                        <form  class="form-inline" method="POST">
                            {% csrf_token %}

                            <div class="input-group">
                                <br><input type="date" name="f"  class="form-control bg-light border-0 small "  aria-label="search" value="{{request.POST.filtro}}" >
                                <br>
                                 {% comment %} Buscar por fecha: <input type="date" name="f" > {% endcomment %}
                                <!--<input type="submit" value="{{request.POST.buscar}}" />-->
                                <div class="input-group-append">
                                    <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="{{request.POST.buscar}}">
                                        <!--ICONO LUPA-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                        <!--end-->

                        <!--Inicio de la TABLA DE USUARIOS-->
                        <!-- <div class="col-4 col-md-10 offset-md-1"> -->
                        <table>
                            <!--table striped es para que resalte 1 fila y otra no-->
                            <!--table-bordered para bordes-->
                            <table class="table table-striped table-hover">       
                                <thead> 
                                    <tr>
                                        <th>Nro</th>
                                        <th>Nombre </th>
                                        <th>Cédula</th>
                                        <th>N° telefónico</th>
                                        <th>Fecha </th>
                                        <th>Hora</th>
                                        {% comment %} <th>Hora de Atencion</th> {% endcomment %}
                                         <th>Tratamiento Solicitado</th> 
                                        <th>Profesional</th>
                                        <th> Estado </th>
                                        <th colspan="3"> Acciones </th> 
                                      
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    {%if cita_reservadas%}
                                        {%for c in cita_reservadas%}

                                        <tr>
                                            <td >{{forloop.counter}}</td>
                                            <td >{{c.nombre_paciente}}</td>
                                           
                                            <td >{{c.paciente }}</td>
                                            <td >{{c.celular }}</td>
                                            <td >{{c.fecha}}</td>
                                            {% comment %} <td >{{c.hora}} hs.</td> {% endcomment %}
                                            <td >{{c.hora_atencion}} hs.</td>
                                             <td >{{c.tratamiento_solicitado}}
                                                {% comment %} {{c.tratamiento_simple}} {% endcomment %}

                                             </td> 
                                            <td >{{c.profesional}}</td>
                                            {%if c.estado%}
                                             <td>Confirmado</td>
                                            {%else%}
                                             <td>Pendiente</td>
                                            {%endif%}
                                                    {{busqueda}}
                                            {{busqueda}}
                                            <!--OPCIONES Modificar y Eliminar-->
                                              <td>
                                                    {%if perms.gestion_agendamiento.change_cita%}
                                                        {%if c.estado_tratamiento%}
                                                        <a href="/agendamiento/visualizar_cita/{{c.id_cita}}" class="btn btn-primary">
                                                            <i class="bi bi-card-checklist"></i>
                                                            Visualizar
                                                        </a>
                                                        {%else%}
                                                            <a href="/agendamiento/modificar_cita/{{c.id_cita}}" class="btn btn-primary">
                                                                <i class="bi-pencil-square"></i>
                                                                Modificar
                                                            </a>
                                                        {%endif%}
                                                    {%endif%}
                                              </td>

                                                <td>

                                                    {%if perms.gestion_agendamiento.delete_cita%}
                                                    <!-- Eliminar-->                
                                                    <a href="/agendamiento/eliminar_cita/{{c.id_cita}}" class="btn btn-danger btnEliminacion">
                                                        <i class="bi-trash-fill" ></i>
                                                        Eliminar
                                                    </a> 
                                                    {%endif%}
                                                </td>  
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <br>
                                        <h2>
                                            <center>No hay registros
                                             <br>   {%if perms.gestion_agendamiento.view_cita%}
                                                    <!-- Eliminar-->                
                                                    <a href="/agendamiento/listado_citas" class="btn btn-info">   
                                                       Ver Listado
                                                    </a> 
                                                    {%endif%}
                                            </center> 
                                       </h2>

                                    {% endif %}
                                </tbody>
                            </table>
                        </table>
                        <!--end TABLA-->
                        <!-- </div> -->
            </div>
        </div>
            
    </div>
    {% endif %}
{%endblock%}
