{%extends 'panel_control/base.html'%}  
{% comment %} <!--CSS propio de Gestion de Usuario-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}
<!--Cuadro de DIALOGO DE ELIMINAR-->



{%block content%}

 {% comment %} var ci_user={{request.user.usuario}}
    var cedula_paciente= {{persona.numero_documento}}   {% endcomment %}

    {%if perms.gestion_agendamiento.change_cita%}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <center> 
                        <h2 <i class="bi bi-calendar"></i> Cita</i> </h2>
                    </center>
                    <br>
                    <center><h5> <b>Paciente:</b> <i>{{persona.nombre}} {{persona.apellido}} </i> </h5></center>

                    <form method="POST" id="group_form" novalidate="">
                        {%csrf_token%}
                        <div style="margin: 20px;" >
                            <br>
                            <div class="form-group">
                                <label for="tratamiento_solicitado"> Motivo de Consulta</label>
                                    {{form.tratamiento_solicitado}} <br>
                            </div>
                            <br>
                            <div class="form-group">
                            <label for="{{form.fecha.name}}">{{form.fecha.label}}</label>
                                {{form.fecha}}
                            </div>

                            <br>
                            <div class="form-group">
                            <label for="{{form.hora_atencion.name}}"> {{form.hora_atencion.label}}</label>
                                {{form.hora_atencion}}
                            </div> 
                            <br>
                            <div class="form-group">
                            <label for="profesional"> Elegir al Profesional: </label> 
                                {{form.profesional}}
                            </div>
                            <br>
                                {%if perms.gestion_agendamiento.view_cita%}
                                <div class="form-group">
                                    <label for="{{form.estado.name}}">{{form.estado.label}}</label>
                                    {{form.estado}}
                                </div> 
                            {%endif%}
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit" style="margin: 10px;">
                                <i class="bi-save"></i>
                            Modificar y Guardar
                            </button>
                        
                            <a style="margin: 10px;" href="/agendamiento/delete_cita/{{id_cita}}" class="btn btn-danger btnEliminacion">
                                <i class="bi-trash-fill" ></i>
                                Eliminar
                            </a>
                    </form>
                </div>
            </div> 
        </div>
    

    {% else %}
                    <br>
                    <h2>
                        <center>
                            No tiene permisos para ingresar a esta sección
                            <img src="{% static 'img/restringir.png' %}" width="100px" alt="logo">
                        </center> 
                    </h2>
                    <br>  
    {%endif%}


{%endblock%}