{%extends 'panel_control/base.html'%}  

{%load static%}

{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{%endblock%}

{%block content%}

<!-- {%if perms.gestion_tratamiento.view_tratamiento%} -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <h2>
                        <i class="bi bi-cash-coin">Tratamientos a cobrar</i> 
                    </h2>
                </center>
                    <center>
                        <h4>
                            <b>Paciente:</b> <i>{{persona.nombre}} {{persona.apellido}}</i>
                        </h4>
                    </center>

                <!--Inicio de la TABLA DE TRATAMIENTOS-->
                <table>
                    <!--table striped es para que resalte 1 fila y otra no-->
                    <!--table-bordered para bordes-->
                    <table class="table table-striped table-hover">
                        <thead> 
                            <tr>
                                {%if tratamientos_asignados%}
                                    <th>Nro Tratamiento</th>
                                    <th>Nombre </th>
                                    <th>Precio </th>
                                {%endif%}
                            </tr>
                        </thead>

                        <tbody>
                                {%if tratamientos_asignados%}
                                {%for tratamiento in tratamientos_asignados%}
                                <tr>
                                    <td >{{forloop.counter}}</td>
                                    <td >{{tratamiento.nombre_tratamiento}}</td>
                                    <td >{{tratamiento.precio}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th>Precio Total</th>
                                    <th></th>
                                    <th>{{precio_total}} Gs</th>
                                    <th></th>
                                </tr>
                                {%else%}
                                    <br>
                                    <br>
                                    <center>
                                        <h5>
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            <i>El paciente no tiene tratamientos asignados</i> 
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            <br>
                                            <br>
                                            <br>
                                            <a href="/tratamiento/listar_paciente2/" type="submit" class="btn btn-danger">
                                                <i class="bi bi-check2-square"></i>
                                                OK
                                            </a>
                                        </h5>
                                    </center>
                                {%endif%}


                                {% if messages %}
                                <ul class="messages">
                                
                                    {% for message in messages %}
                                    <li>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <B><FONT COLOR="BLUE">¡La operación fue exitosa!: </FONT>
                                        Tratamiento
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                                        {{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {%if tratamientos_asignados%}
                        <a type="submit" href="#" class="btn btn-secondary btn-block txt-white">
                            <i class="bi bi-printer"></i>
                            Detalle previo
                        </a>
                        &nbsp;
                        <a type="submit" href="/cobros/registrar_cobro/{{persona.numero_documento}}/" class="btn btn-success btn-block txt-white">
                            <i class="bi bi-check2-square"></i>
                            Cobrar
                        </a>
                        &nbsp;
                        <a href="/tratamiento/listar_tratamientos_asignados/{{id_paciente}}" class="btn btn-danger"  >
                            <i class="bi-x-circle"></i> 
                            Cancelar
                        </a>
                        {%endif%}
                    </div>
                </table>
            <!--end TABLA-->
        
            </div>
        </div>
    </div>
<!-- {%endif%} -->

{%endblock%}

<!--este funciona NO BORRAR-->
{% comment %} <script>
    function cancelar() {
     
        Swal.fire({
  icon: 'warning',
  title: 'Esta eliminando este tratamiento',
 
  footer: '<a href="/tratamiento/eliminar_tratamiento/{{c.nombre_tratamiento}}">¡Da click aqui !</a>'
})
    }
</script> {% endcomment %}