<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Detalle del Cobro </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    
    </head>
    <body style="font-size:13px;" >
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <center> 
                        <h2 class="bi bi-cash-coin">Detalle de Tratamiento/s a ser Realizado/s
                        </h2>
                    </center>
                    <center> 
                        <h1 style="color:blue;" > <b> C O N S U L D E N T </b><h1>
                    </center>
            
                    <table>
                        
                        <thead>
                            <tr style="background-color: skyblue; color:white">
                                <th><br>Telefono</th>
                                <th><br> Ubicacion</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <tr>
                                
                                <th> (0985) 571 842</th>
                            </tr>
                            <tr>
                                <th> (0984) 476 557</th>
                                <th>Fernando de la Mora - Zona-Sur</th>
                            </tr>
                            <tr>
                                <th> Email: consultdent9596@gmail.com</th>
                            
                            </tr>
                        </tbody>
                    </table>
                    <br>
                        <center>
                            
                                <h3 style="font-size:16px;">Datos Personales</h3> 
                        </center>

                        {% comment %} <table style="font-size:20px; border: 1px solid black;">
                            <tr>
                                <th> {% endcomment %}
                                    <b>Paciente:</b> &nbsp; <i>{{persona.nombre}} {{persona.apellido}}</i>
                                    <br>
                                    <b>Numero de cedula/RUC: </b> &nbsp; {{persona.numero_documento}}
                                    <br>
                                
                                    <b>Fecha de Expedicion: </b> &nbsp; {{fecha_actual}}
                                    <br>
                                    <b> </b> &nbsp;Valido 30 dias
                                {% comment %} </th>
                            </tr>
                        </table> {% endcomment %}
                        
                        <br>
                    <br>
    
                    <!--Inicio de la TABLA DE TRATAMIENTOS-->
                
                    <table border= "2px">
                        <thead> 
                            <tr>
                                {%if tratamientos_insumos_asignados%}
                                    <th><br>Nro Tratamiento</th>
                                    <th><br>Tratamiento</th>
                                    {% comment %} <th><br>Materiales/Insumos </th>  {% endcomment %}
                                    <th><br>Precio </th> 
                                    

                                {%endif%}
                            </tr>
                        </thead>

                        <tbody>
                            {%for t in tratamientos_insumos_asignados%}
                            <tr>
                                <td><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                                <td><br>&nbsp;&nbsp;&nbsp;<b>{{t.tratamiento.nombre_tratamiento}}</b>
                                <br>
                                {%for i in t.insumos%}
                                    
                                      <li>&nbsp;&nbsp;&nbsp; {{i.nombre_insumo}} <br> </li>
                        
                                {%endfor%}
                                
                                </td>
                                
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t.tratamiento.precio}} Gs</td>
                            </tr>
                            {% endfor %}
                            
                            <tr>
                                <th><br> Precio Total</th>
                                <th></th>
                                <th><br>{{precio_total}} Gs</th>
                            
                            </tr>


                        </tbody>
                    </table>
                
                </div>
            </div>
        </div>
 
        <!--Pie de pagina -->
        
        <div class="col-12 text-length copyright">
                    <samp>
            <br>
            <br>
            <br>
            <center>
                        <p>Copyright SmileSoft &copy; FP-UNA 2022  </p>
            </center>
                    </samp>
                </div>
            </div>

        </div>
   </body>

</html>
