{%extends 'panel_control/base.html'%}
{%load static%}
{% block content %}
	{%if perms.gestion_cobros.add_cobrocontado%}
		<div class="container">
			<div class="card">
				<div class="card-body">
					<center>  
						<h2>  
							<img class="img-circle"  src="{% static 'img/factura.png' %}"  width="50px" height="50px"> 	 
							<b style="font-family: Lucida Calligraphy;">
								Facturas
							</b>
						</h2> 
					</center>
					
				
					<br>
					<table class="table table-striped table-hover">
						{%if lista_facturas%}
							<thead style="border: 1cm;">
								<tr>
									<th>N°</th>
									<th>N° Factura</th>
									<th>Fecha de emisión</th>
									<th>Cliente</th>
									<th>Estado</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								<!--fin de la pueba-->
								<!--lISTAR VALORES AQUI ... -->
								{% if lista_facturas %}
									{% for factura in lista_facturas %}
										<tr>
											<td >{{forloop.counter}}</td>
											<td>{{ factura.nro_factura }}</td>
											<td>{{ factura.fecha }}</td>
											<td>{{ factura.razon_social }}</td>
											<td>{{factura.estado}}</td>
											<td>
												<a href="/cobros/cambiar_estado_factura/{{factura.id_factura}}" type="buttom" class="btn btn-primary">
													<i class="bi bi-pencil-square"></i>
													Cambiar estado
												</a>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									{% comment %} <h1>No hay registros </h1> {% endcomment %}
								{% endif %}

							</tbody>
						{%else%}
							<h5>
								No hay valores que mostrar
							</h5>
						{%endif%}
					</table> 
				</div>
			</div>
		</div>
	{% endif %}
{% endblock%}