{%extends 'panel_control/base.html'%}  

{%load static%}

{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{%endblock%}

{%block content%}

{%if perms.gestion_tratamiento.view_tratamiento%}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <h2 <i class="bi bi-clipboard2-pulse"> Tratamientos pendientes</i> </h2>
                </center>
                <br>
                <table>
                    <!--table striped es para que resalte 1 fila y otra no-->
                    <!--table-bordered para bordes-->
                    <table class="table table-striped table-hover">
                        <thead> 
                            <tr>
                                {%if tratamientos_pendientes%}
                                    <th>Nro</th>
                                    <th>Número de documento</th>
                                    <th>Nombre y apellido </th>
                                    <th>Tratamiento </th>
                                    <th>Acciones</th>
                                {%endif%}
                            </tr>
                        </thead>

                        <tbody>
                                {%if tratamientos_pendientes%}
                                    {%for t in tratamientos_pendientes%}
                                        <tr>
                                            <td >{{forloop.counter}}</td>
                                            <td >{{t.numero_documento}}</td>
                                            <td >{{t.nombre}} {{t.apellido}}</td>
                                            <td >{{t.nombre_tratamiento}}</td>
                                            <!-- Eliminar-->
                                            <!-- {%if perms.gestion_tratamiento.delete_tratamiento%} -->
                                                <td>
                                                    <!-- <a href="/tratamiento/realizar_pregunta/{t.id}" class="btn btn-success"> -->
                                                    <a href="#" class="btn btn-success">
                                                        <i class="bi bi-check2-circle" ></i> 
                                                        Confirmar
                                                    </a>
                                                </td>
                                            <!-- {%endif%} -->
                                        </tr>
                                    {% endfor %}
                                {%else%}
                                    <br>
                                    <br>
                                    <br>
                                    <center>
                                        <h5>
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            <i>No hay tratamientos pendientes</i> 
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                        </h5>
                                    </center>
                                {%endif%}


                                {% if messages %}
                                <ul class="messages">
                                
                                    {% for message in messages %}
                                    <li>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <B><FONT COLOR="BLUE">¡La operación fue exitosa!: </FONT>
                                        Tratamiento
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                                        {{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-secondary" onclick = "history.back ()" >
                            <i class="bi-x-circle"></i> 
                            Atras
                        </a>
                    </div>
                </table>
            </div>
        </div>
    </div>
{%endif%}

{%endblock%}