{%extends 'panel_control/base.html'%}  
{% comment %} <!--Gestion de Tratamientos-->
<link rel="stylesheet" href= "{% static 'estilo.css'%}"> {% endcomment %}

{%load static%}


{% block javascripts%}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

{%endblock%}

{%block content%}

{%if perms.gestion_tratamiento.view_tratamiento%}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <center> 
                    <h2 <i class="bi bi-clipboard2-pulse"> Lista de Tratamientos</i> </h2>
                </center>
                
                {%if perms.gestion_tratamiento.add_tratamiento%}  
                    <table  align="right" >
                            <tr>
                            <td> <a href="/tratamiento/agregar_tratamiento/" class="btn btn-success">Agregar un tratamiento +</a> </td>
                            </tr>
                    </table>
                {%endif%}

            <!--end-->

            <!--Barra de Busqueda-->
        
                    <form  class="form-inline" method="POST">
                        {% csrf_token %}
                    <div class="input-group">
                            <input type="search" name="q"  class="form-control bg-light border-0 small" placeholder="Buscar nombre tratamiento" aria-label="search" value="{{request.POST.buscar}}">
                            <div class="input-group-append">
                                <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                <!-- ICONO LUPA -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        
                    </form>     
            <!--end-->

                <!--Inicio de la TABLA DE TRATAMIENTOS-->
                <table>
                    <!--table striped es para que resalte 1 fila y otra no-->
                    <!--table-bordered para bordes-->
                    <table class="table table-striped table-hover">
                        <thead> 
                            <tr>
                                <th>Nro Tratamiento</th>
                                <th>Nombre </th>
                                <th>Precio</th>  
                                <th colspan="2">Acciones </th>
                            </tr>
                        </thead>

                        <tbody>
                                {%for c in listado_tratamientos%}
                                <tr>
                                    <td >{{forloop.counter}}</td>
                                    <td >{{c.nombre_tratamiento}}</td>
                                    <td>{{c.precio}}</td> 
                                    {{busqueda}}
                                    <!--OPCIONES Modificar y Eliminar-->
                                    <td>
                                        {%if perms.gestion_tratamiento.change_tratamiento%}
                                        <!-- <a href="#" class="btn btn-success"> -->
                                            <a href="/tratamiento/asignar_insumos/{{c.codigo_tratamiento}}" class="btn btn-primary">
                                            <i class="bi-pencil-square"></i>
                                            Agregar insumos
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/tratamiento/modificar_tratamiento/{{c.codigo_tratamiento}}" class="btn btn-primary">
                                            <i class="bi-pencil-square"></i>
                                            Modificar
                                        </a>
                                    {%endif%}
                                    </td>
                                <!-- Eliminar-->      
                                    {%if perms.gestion_tratamiento.delete_tratamiento%}
                                    <td>
                                        <a href="/tratamiento/eliminar_tratamiento/{{c.codigo_tratamiento}}" class="btn btn-danger btnEliminacion">
                                            <i class="bi-trash-fill" ></i> 
                                                Eliminar
                                            </a> 
                                    </td>
                                        {%endif%}
                                </tr>
                                {% endfor %}
                            

                                {% if messages %}
                                <ul class="messages">
                                
                                    {% for message in messages %}
                                    <li>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <B><FONT COLOR="BLUE">¡La operación fue exitosa!: </FONT>
                                        Tratamiento
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                                        {{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                        </tbody>
                    </table>
                </table>
            <!--end TABLA-->
        
            </div>
        </div>
    </div>
{%endif%}

{%endblock%}
<!--este funciona NO BORRAR-->
{% comment %} <script>
    function cancelar() {
     
        Swal.fire({
  icon: 'warning',
  title: 'Esta eliminando este tratamiento',
 
  footer: '<a href="/tratamiento/eliminar_tratamiento/{{c.nombre_tratamiento}}">¡Da click aqui !</a>'
})
    }
</script> {% endcomment %}