{%extends 'panel_control/base.html'%}

{%block content%}

<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <br>
        <center>  <h2>Agregar Funcionario</h2> </center>
        <div class="container mt-3 text-center">
            <small> <b>   ¡ Ingrese los datos del funcionario ! </small>
        </div>

        <div class="card-body">
            <form method="POST">
                {%csrf_token%}
                <div style="margin: 20px;" >
                    <table>
                        <div class="form-group">
                            <label for="{{form2.nombre.name}}">{{form2.nombre.label}}</label>
                            {{form2.nombre}}
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="{{form2.apellido.name}}">{{form2.apellido.label}}</label>
                            {{form2.apellido}}
                        </div>
                        <br>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}