{%extends 'panel_control/base.html'%}

{%block content%}

<div class= "col-12 col-md-8 offset-md-2" >
        <div class="card">
            <br>
            <center>  <h2>Asignar Tratamiento</h2> </center>
            <!-- <div class="card-body"> -->
                <form method="POST"id="group_form" novalidate="">
                    {%csrf_token%}
                        {%if mensaje%}
                            <div class="alert alert-success" role="alert">
                                  ✅ Modificado exitosamente
                            </div>
                        {%endif%}
                        <br>
                        <center>
                            <h5>
                                <b>Paciente:</b> <i><td>{{ paciente.numero_documento.nombre }} {{paciente.numero_documento.apellido}}</td></i>
                            </h5>
                        </CEnter>
                    <div style="margin: 20px;" >
                        <table>
                            <div class="form-group">
                                <label for="{{form.tratamientos.name}}"><b>Tratamientos ConsulDent:</b></label>
                                {{form.tratamientos}}
                            </div>
                        </table>
                        <!-- <b>{{form.tratamientos.label}}</b> -->
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit" style="margin: 10px;">
                            <i class="bi-save"></i>
                            Guardar
                        </button>
                        <!-- &nbsp; -->
                        <a href="/tratamiento/listar_paciente2/" class="btn btn-secondary" style="margin: 10px;">
                            <i class="bi-x-circle"></i>
                            Cancelar
                        </a>
                        <!-- <a href="/roles/listar_roles/ " class="btn btn-danger" style="margin: 10px;">
                            <i class="bi-x-circle"></i>
                            Cancelar
                        </a> -->
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
{%endblock%}