* {
    margin:0;
    padding:0;
     box-sizing: border-box;
  
  }
  
  
  .login-page {
    width: 480px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #03355e;
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 40px;
    text-align: left;
    color: #FFFFFF;
   /* box-shadow: 0 0 20px 0 rgba(241, 238, 238, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
    font-size: 15px;
    margin-inline-start: auto;
    text-shadow: 2px 2px 2px rgb(13, 13, 14);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 155%;
    border: 20;
    margin: 0 0 15px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
    text-shadow: #07b8ee;
    box-shadow: 0 0 20px 0 rgba(241, 238, 238, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-align: center;
    /*las sombras de letras es el text shadow*/
   text-shadow: 2px 2px 2px rgb(13, 13, 14);
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2431eb;
    width: 100%;
    border: 1px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #07b8ee;
  }
  .form .message {
    margin: 15px 0 0;
    color: #f7f2f2;
    font-size: 14px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  .form a {
    color: white;
    text-decoration: underline;
    position: center;
  }
  .form .register-form {
    display: none;
  }
  .form h5{
    font-family: "Roboto", sans-serif;
    display: none;
    text-align: center;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #08c3fc; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #143d55, #05abf8);
    background: -moz-linear-gradient(right, #143d55, #05abf8);
    background: -o-linear-gradient(right,#143d55, #05abf8);
    background: linear-gradient(to left,#143d55, #05abf8);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  
  .form-register {
    width: 400px;
    background: #07b8ee;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:rgb(129, 216, 218) !important;
    display: inline-block;
  }

  .estiloError {
    color: red;
    animation: estiloError 7s linear forwards;
      -webkit-animation: estiloError 7s linear forwards;      
 }
 
 @keyframes estiloError {
   0% { opacity: 0; }
   2% { opacity: 1; }
   98% { opacity: 1; }
   100% { opacity: 0; }
 }