{%extends 'panel_control/base.html'%}  

{%load static%}

{%block content%}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <br>                 
            <center><h4 style="font:;">¡ Gracias {{user.usuario}} ! </h4></center>
       <div  align="center" > 
               <br> <img src="{% static 'img/cambio.png' %}" width="100px" alt="auto">   
                        <br>
                        <FONT SIZE=5>  <p>Su cambio fue correctamente modificado <br>
                           </font>
                         <br>
                        <a href="/panel_control/inicio/" class="btn btn-primary" >  
                                                    
                                                    <i class="bi bi-house"></i>
                                                    Volver al Inicio
                                                </a>
                                  
                   <br>
            </div>  
        </div>
        
 <br>
 {%endblock%}