{%extends 'panel_control/base.html'%}  
{%load static%}

{%block content %}
 <br>  
      <main>
        <!--Contenido -->
        <div class="container">
          <div class="row contenedor">
            <div class="col">
              <h2 class="titulo text-center">
                  No tiene permisos para ingresar a esta sección
                   <img src="{% static 'img/restringir.png' %}" width="100px" alt="logo">
                  
              </h2>
           
      </main>
{% endblock %}

