{%extends 'panel_control/base.html'%}


{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="col-1 col-md-6 offset-md-3">
        <!-- <div class="card"> -->
            <!-- <div class="card-body"> -->
                <br>
                <center>
                    <h3>¡Operación Exitosa!</h3>
                    <br>
                    <a class="btn btn-primary" href ="/tratamiento/listar_tratamiento/">
                        <i class="bi bi-check2-square"></i>
                        OK
                    </a>
                </center>
                <br>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</form>
{% endblock %}